<tr class="survey">
  <td class="survey-name"> <%= survey.name %> </td>
  <td> <span class="survey-description"> <%= "#{survey.description}" %> </span> </td>
  <td class="table-center"> <%= number_of_questions(survey) %> </td>
  <td class="table-center survey-buttons">
    <div class="btn-group" role="group">
      <%= link_to "Take survey", new_attempt_path(survey_id: survey.id), class: 'btn btn-default' %> 
       <%= link_to edit_survey_path(survey.id), class: 'btn btn-default btn-sm' do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
      <%= link_to survey_path(survey.id), class: 'btn btn-default btn-sm', method: :delete, data: {confirm: "Are you sure you want to delete this survey?"} do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </div>
  </td>
</tr>
