<script type="javascript"> 
$(document).ready(function() {
  $("input[type=radio]").change(function() {
      var total = 0;
      $("input[type=radio]:checked").each(function() {
          total += parseFloat($(this).val());
      });

      document.getElementById('progressRate').innerHTML = total;
  });
});

</script>
<section id="hc-question-section">
<div class="hc-topic-header">
  <h2 class="survey-title">
    <%= @survey.name %>
    <p><small><%= @attempt.survey.description %></small></p>
  </h2>
  <div class="hc-progress-bar card-fixed">
      <span id="progress" style="width: 0%"></span>
      <div id="progressRate">0 of 45 (0% completed)</div>   
  </div>
</div>

<%= form_for(@attempt, url: attempt_scope(@attempt)) do |f| %>
<div class="hc-question-group card">
  <%= hidden_field_tag :survey_id, @survey.id %>    
    <%= f.fields_for :answers, get_answer_fields(@attempt) do |answer_fields| %>
      <div class="hc-question-wrapper">
        <% question = answer_fields.object.question %>
        <div class="hc-question-text">
          <%= question.text %>
        </div>
      </div>
     <div class="hc-answer-wrapper">
         <div class="hc-answer-prompt">
            Choose an answer
          </div>
          <div class="hc-answer-key clickable">
           
         <%= collection_radio_buttons('survey_attempt[answers_attributes]', question.id, question.options, :weight, :text) do |b| %>
             <% b.radio_button + b.label %>
          <% end %>
        </div>
        </div>
     
    <% end -%>
  </div>

  <div class="hc-button-wrapper">
     <% if @attempt.survey.id == 6%>
       <%= f.submit "Submit", class: 'button clickable' %>
     <%else %>
      <%= link_to 'Continue', new_attempt_path(survey_id: @attempt.survey.id+1), class: 'button clickable' %>
     <%end %>
 </div>
<% end -%>
</section>