<section id="hc-question-section">
<div class="hc-topic-header">
  <h2 class="survey-title">
    <%= @survey.name %>
    <p><small><%= @attempt.survey.description %></small></p>
  </h2>
</div>

<%= form_for(@attempt, url: attempt_scope(@attempt)) do |f| %>
<div class="hc-question-group card">
  <%= hidden_field_tag :survey_id, @survey.id %>    
    <%= f.fields_for :answers, get_answer_fields(@attempt) do |answer_fields| %>
      <div class="hc-question-wrapper">
        <% question = answer_fields.object.question %>
        <div class="hc-question-text">
          <%= question.text %>
        </div>
      </div>
     <div class="hc-answer-wrapper">
         <div class="hc-answer-prompt">
            Choose an answer
          </div>
        <div class="hc-answer-key clickable" data-scrolled="true">
          <%= collection_radio_buttons('survey_attempt[answers_attributes]', question.id, question.options, :id, :text) do |b| %>
             <input type="radio" name="hc-answers-1" id="hc-answers-1-1" value="0">
             <label class="">
              <p><%= b.label { b.text } %></p>
            </label>
          <% end %>
        </div>
     
    <% end -%>
  <div class="hc-button-wrapper">
  <%= f.submit "Submit", class: 'button clickable' %>
 </div>
<% end -%>
</section>