<section id="hc-results-section" class="hc-results-section">
  <div class="hc-results-wrapper">
    <div class="card-rise">
      <div class="hc-results-caption">Your Score</div>
      <div class="hc-results-score"><%= @gradeLetter %></div>
    </div>
  </div>

  <div class="hc-results-header">
    <h2>Want More Detail?</h2>
    <p>Using your Health Check responses as a guide, Sophity will create and send you a personalized Professional Services Road Map, and contact you for a free 1-hour consultation to discuss your results.</p>
    <p>Introduce yourself below to request your Road Map.</p>
  </div>

  <div class="hc-user-info">
  	<%= form_for(@participant) do |f| %>
  	<%= f.label :name %>
  	<%= f.text_field :name, class: 'form-control' %>
  	<%= f.label :job_title %>
  	<%= f.text_field :job_title, class: 'form-control' %>
    <%= f.label :company %>
    <%= f.text_field :company, class: 'form-control' %>
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control' %>
    <div class="hc-phone-checkbox">
      <%= f.check_box :send_notification, class: 'hc-phone-inner' %>
      <%= f.label I18n.t(:send_notification), class: 'hc-phone-inner'%> <br>
    </div>
  	<%= f.submit 'REQUEST REPORT', class: 'clickable' %>
  	<% end %>
  </div>
</section>
