<section id="hc-results-section" class="hc-results-section">
  <div class="hc-results-wrapper card-fixed">
    <div class="card-rise">
      <div class="hc-results-caption">Your Score</div>
      <div class="hc-results-score"><%= @gradeLetter %></div>
    </div>

    <div class="hc-results-actions-wrapper card-rise">
      <div class="hc-results-header">
        <h2>Want More Detail?</h2>
        <p>Using your Health Check responses as a guide, Sophity will create and send you a personalized Professional Services Road Map, and contact you for a free 1-hour consultation to discuss your results.</p>
        <p>Introduce yourself below to request your Road Map.</p>
      </div>

      <div class="hc-user-info">
        <%= form_for(@participant) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :job_title %>
        <%= f.text_field :job_title, class: 'form-control' %>
        <%= f.label :company %>
        <%= f.text_field :company, class: 'form-control' %>
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
        <div class="hc-phone-checkbox">
          <%= f.check_box :send_notification, class: 'hc-phone-inner' %>
          <%= f.label I18n.t(:send_notification), class: 'hc-phone-inner'%> <br>
        </div>
        <%= f.submit 'REQUEST REPORT', class: 'clickable' %>
        <% end %>
      </div>

      <div class="hc-report-response modal card-fixed">
        <h2>Done!</h2>
        <p>Check your email: your report is on the way!</p>
        <p>Can't wait? Download a copy <a href="#">here.</a></p>
    </div>

    <div class="hc-results-links card-fixed">
      <%= link_to "Take Another Health Check", class: 'clickable' %>
      <%= link_to "Back to Sophity", class: 'clickable' %>
    </div>
  </div>
</section>
