<!DOCTYPE html>
<html>
<head>
  <title>Sophity HealthCheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Poppins' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/submit_name_modal' %>
<%= render 'shared/navbar' %>
<%= render 'shared/flash' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
